<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home.css')}}">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>  
    <div class="container bg-dark col-xl-12">
        <header class="d-flex flex-wrap justify-content-center py-3 pt-4 border-bottom w-100">
          
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Products</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Categories</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Orders</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Inventory</a></li>
          </ul>
        </header>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card mt-3" style="width:12rem">
                    <div class="card-body">
                        <h2>revenue</h2>
                        <h4>$18,795</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3 "style="width:12rem">
                    <div class="card-body" >
                        <h2>revenue</h2>
                        <h4>$18,795</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3" style="width:12rem ;">
                    <div class="card-body">
                        <h2>revenue</h2>
                        <h4>$18,795</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3 " style="width:12rem ;">
                    <div class="card-body">
                        <h2>revenue</h2>
                        <h4>$18,795</h4>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
      <table class="table table-dark col-xl-11">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
 
    
</body>
</html>